/.idea
/venv
/__pycache__
/build
login_data.ini
login_config.ini
AutoLoginZZULInetV1.3.spec
AutoLoginZZULInetV1.4.spec
/dist/AutoLoginZZULInetV1.3.exe
link_teacher.log
link_zzulis.log
userandpsw.json
zzulis.json
